<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<style type="text/css">

	::-webkit-input-placeholder { /* WebKit browsers */
	    color:   #333;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color:    #333;
	   opacity:  1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color:    #333;
	   opacity:  1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
	   color:    #333;
	}

	body {
		margin: 0;
		padding: 0;
		background-color: #f4f4f4;
	}

	p {
	    font-family: Arial;
	    font-size: 15px;
	    clear: both;
	    text-transform: uppercase;
	    margin: 0 0 5px 0;
	}

	form label {
	    font-family: Arial;
	    font-size: 13px;
		margin: 5px 0;
		float: left;
		clear: left;
	}

	form input[type="text"] {
		padding: 10px;
		text-transform: uppercase;
		font-size: 14px;
		border-radius: 0;
		border: 1px solid #ccc;
		-webkit-appearance: none;
	}

	form input[type="hidden"] {
		display: none;
	}

	form input[type="submit"] {
	    position: relative;
	    display: inline-block;
	    margin-top: 10px;
	    width: auto;
	    height: auto;
	    background: #a3bfa3 url('http://www.oasis-stores.com/pws/client/Features/2015/LookBook/images/svgs/cta_arrow.svg') no-repeat 85% center;
	    padding: 10px 40px 10px 20px;
	    border: none;
	    color: white;
	    text-transform: uppercase;
	    font-family: Arial;
	    font-size: 15px;
	    -webkit-transition: all .5s;  /* For Safari 3.1 to 6.0 */
	    transition: all .5s;
	    float: left;
	    clear: left;
	    border-radius: 0;
	}
	form input[type="submit"]:hover,
	form input[type="submit"].active {
	    background-position: 92.5% center;
	    background-color: #c2d3c2;
	    cursor: pointer;
	}

	tr:nth-last-of-type(2), tr:nth-last-of-type(3) { /* hide product title and product checkbox  */
	  background: red;
	  display: none;
	}

	@media screen and (max-width: 370px) {
		input[type="text"]  {
			display: inline-block;
			margin-bottom: 10px;
			width: 100%;
			border: 1px solid #ccc;
			-webkit-appearance: none;
		}

	}

	@media screen and (min-width: 371px) {
		form {
			text-align: left;
			white-space: nowrap;
		}
		form input[type="text"]  {
			display: inline-block;
			width: 46%;
			margin-right: 1%;
		}
	}


</style>

		<form name="pollform" id="pollform" action="http://aurora.ed4.net/pbp/poll.cfm" method="POST">
			<input type="hidden" name="pollid" id="ppollid" value="23032">
			<input type="hidden" name="action" id="paction" value="poll1">
			<input type="hidden" id="poriginalecid" name="c" value="">
			<input type="hidden" id="pemail" name="e" value="">
			<input type="hidden" id="psourcelist" name="L" value="">
			<input type="hidden" id="pextralists" name="u" value="">
			<input type="hidden" id="preview" name="pv" value="n">

			<table id="questioncontainer" border="0" cellpadding="1" cellspacing="0" style="">


		<tr>
			<td colspan="2" id="q70442-label" style="">
			Name
			</td>
		</tr>
		<tr>
			<td colspan="2" id="q70442-responses" style="">
					<input type="text" name="q70442" id="q70442" size="20" maxlength="512">
				<br>
			</td>
		</tr>

		<tr>
			<td colspan="2" id="q70432-label" style="">
			Email
			</td>
		</tr>
		<tr>
			<td colspan="2" id="q70432-responses" style="">
					<input type="text" name="q70432" id="q70432" size="20" maxlength="512">
				<br>
			</td>
		</tr>

		<tr>
			<td colspan="2" id="q70162-label" style="">
			Date of Birth
			</td>
		</tr>
		<tr>
			<td colspan="2" id="q70162-responses" style="">
					<input type="text" name="q70162" id="q70162" size="20" maxlength="512">
				<br>
			</td>
		</tr>

		<tr>
			<td colspan="2" id="q70532-label" style="">
			Date of Wedding
			</td>
		</tr>
		<tr>
			<td colspan="2" id="q70532-responses" style="">
					<input type="text" name="q70532" id="q70532" size="20" maxlength="512">
				<br>
			</td>
		</tr>

				<tr>
			<td colspan="2" id="q70452-label" style="">
			Newsletter?
			</td>
		</tr>

			<tr>
				<td width="1" valign="top">
				<input type="checkbox" id="q70452r340632" name="q70452" value="r340632">
				</td>
				<td align="left" width="99%" valign="top">Yes</td>
			</tr>

			<tr>
				<td colspan="2"><br></td>
			</tr>

		<tr>
			<td colspan="2" id="q70522-label" style="">
			EXAMPLE BRIDESMAID DRESS 2
			</td>
		</tr>

			<tr>
				<td width="1" valign="top">
				<input type="checkbox" id="q70522r340702" name="q70522" value="r340702" checked>
				</td>
				<td align="left" width="99%" valign="top">Yes</td>
			</tr>

			<tr>
				<td colspan="2"><br></td>
			</tr>


				<tr>
					<td colspan="2" align="center">

						<input type="submit" name="sbt" id="submitbutton" value="Submit" style="">

					</td>
				</tr>
			</table>

			</form>